absl-py==0.7.1
astor==0.7.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cloudpickle==1.1.1
cycler==0.10.0
cytoolz==0.9.0.1
dask==1.2.2
decorator==4.4.0
gast==0.2.2
grpcio==1.16.1
h5py==2.9.0
hiredis==1.0.0
idna==2.8
imageio==2.5.0
joblib==0.13.2
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras2onnx==1.5.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.0
mkl-fft==1.0.12
mkl-random==1.0.2
mock==3.0.5
networkx==2.3
numpy==1.16.4
olefile==0.46
onnx==1.5.0
onnxconverter-common==1.5.0
onnxmltools==1.5.0
pandas==0.24.2
Pillow==6.0.0
protobuf==3.8.0
py4j==0.10.7
pycparser==2.19
pyparsing==2.4.0
pyspark==2.4.3
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
PyYAML==5.1.1
redis==3.2.1
-e git+git@github.com:RedisAI/redisai-py.git@e4ae8afcf7f4f01f88b1a4810d0e7dc6df1dcbed#egg=redisai
requests==2.22.0
rmtest==0.7.0
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.2.1
sip==4.19.13
six==1.12.0
skl2onnx==1.5.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-hub==0.4.0
termcolor==1.1.0
toolz==0.9.0
torch==1.1.0
torchvision==0.3.0
tornado==6.0.2
typing==3.7.4
typing-extensions==3.7.4
urllib3==1.25.3
Werkzeug==0.15.4
